<h2>Admin</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <label>Titolo: </label>
        <input type="text" formControlName="title" />
        <span *ngIf="form.get('title')?.errors?.required && form.get('title')?.touched">Titolo obbligatorio</span>
    </div>
    <div>
        <label>Descrizione: </label>
        <input type="text" formControlName="description" />
        <span *ngIf="form.get('description')?.errors?.required && form.get('description')?.touched">Descrizione
            obbligatoria</span>
        <span *ngIf="form.get('description')?.errors?.forbidden && form.get('description')?.touched">Non puoi scrivere
            {{form.get('description')?.errors?.forbidden?.value}}!</span>
    </div>
    <div>
        <label>Data pubblicazione: </label>
        <input type="date" formControlName="publishDate" />
        <span *ngIf="form.get('publishDate')?.errors?.required && form.get('description')?.touched">Data pubblicazione
            obbligatoria</span>        
    </div>
    <div>
        <label>Autore: </label>
        <input type="text" formControlName="author" />
        <!-- <span *ngIf="form.get('tags')?.errors?.missingAuthor && form.get('tags')?.touched">Autore obbligatorio se hai inserito tag</span> -->
    </div>
    <div formArrayName="tags">
        <label>Tags: </label>
        <button type="button" (click)="addTag()">Aggiungi tag</button>
        <div *ngFor="let t of tags.controls; index as i">
            <input type="text" [formControlName]="i" />
        </div>
        <span *ngIf="form.get('tags')?.errors?.duplicate && form.get('tags')?.touched">Ci sono tag duplicati</span>
    </div>
    <button type="submit" [disabled]="form.invalid">Salva</button>
</form>